* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 208, 255, 0.769);
    color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

#main {
    position: relative;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgba(136, 127, 255, 0.637);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white
}

nav ul li a:hover {
    color: rgb(219, 127, 255);
    font-size: 1.02rem;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
    margin-top: 60px 0px;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 3rem;
    margin: 10px 0;
}

.leftSection .buttons {
    padding: 25px 0;
}

.leftSection .btn {
    padding: 10px;
    background: rgba(112, 30, 255, 0.788);
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.rightSection img {
    width: 100%;
    margin: 25px 0;
}

.bold {
    color: blueviolet;
}

#element {
    color: blueviolet;
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: auto;
}

#page1>#leftS {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 10%;
}

#leftS img {
    position: relative;
    width: 450px;
    height: auto;
    margin: auto;
}

.rightS {
    position: absolute;
    height: 100%;
    width: 45%;
    font-size: 1.5rem;
    margin: 10px 50px;
    color: black;
}

.rightS hi {
    font-size: 3rem;

}


.header {
    text-align: center;
    font-size: 60px;
    padding-top: 20px;
    background-color: blueviolet;

}

.header span {
    color: rgb(255, 255, 255);
}


section {
    flex-wrap: wrap;
}

#page2 {
    box-sizing: border-box;
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-box {
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}


.skill-box:hover>.skill-title:after,
.skill-box:hover>.skill-title:before {
    width: 35px
}

.skill-box:hover .img {
    transform: translateY(-10px);
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 35px;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
}

.skill-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 35px;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #2ecc71;
}

.img {
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-title h3 {
    color: #fff;
    margin: 0.5rem;
}

.skill-icon {
    width: 50px
}

#page3 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 208, 255, 0.769);
    color: white;
}

#project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    width: 90%;
    background-color: rgba(0, 208, 255, 0.769);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.projects {
    height: 85%;
    width: 40%;
    background-color: indigo;
}

.text3 {
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    font-size: 1.5rem;
    color: black;
    background-color: rgb(255, 255, 255);
    grid-template-columns: repeat(auto-fit, minmax(159px, auto));
}

#image {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 208, 255, 0.769);
}

#image>img {
    height: 90%;
    width: 100%;
}

#text4 {
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: black;
    background-color: blueviolet;
}

.page4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact-text h2 {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 50px;
}

.contact-text h2 span {
    color: blue;
}

.contact-text h4 {
    margin: 15px 0;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: black;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
    color: #000000;
}

.contact-list i {
    display: inline-block;
    color: blue;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: blue;
}

.contact-icon i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: black;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 30px 15px 30px 0;

}

.contact-icon i:hover {
    background: white;
    color: black;
}


.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 12px 60px;
    background: blue;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.copyright p {
    width: 100%;
    text-align: left;
    padding: 25px 0;
    background: rgb(159, 158, 158);
    font-weight: 300;
    margin-top: 70px;
}